<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Ustaw budzik</title>
</head>
<body>
  <h2>Ustaw budzik</h2>
  <form id="alarmForm"> 
    <label for="name">Nazwa alarmu:</label>
    <input type="text" id="name" name="name" required><br><br>
    <input type="checkbox" name="days" value="7"> Niedziela<br><br>

    <button type="submit">Zapisz Alarm</button>
  </form>

  <h2>Lista alarmów</h2>
  <ul id="alarmList">
    {% for alarm in alarms %}
      <li>
        {{ alarm.name }} — Dni: {{ alarm.days|join(", ") }} — {{ alarm.hour }}:{{ alarm.minute }}
        </li>
    {% endfor %}
  </ul>

  <script src="{{ url_for('static', filename='alarm_config.js') }}"></script>
</body>
</html>